body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    min-width: 500px;
}

button {
    padding: 10px;
    margin: 20px;
}
#game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}
.yritykset{
    display: flex;
    font-size: 20px;
    padding: 5px;
    width: 400px;
    
    justify-content: space-between;
}

.card.flipped {
    background-color: #fff;
}
@media (max-height: 570px){
#game-board {
    grid-template-columns: repeat(6, 100px);
}
}

@media (max-width: 570px){
.card{
    width: 75px;
    height: 75px;
}
#game-board {
    grid-template-columns: repeat(5,75px);
}
}
